
# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Django-specific
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/


# Environment variables
.env

# Migrations (optional)
**/migrations/