{% extends "./base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row g-4">
    <!-- Total Students -->

        <div class="col-md-3">
      <a href="{% url 'students:student_list' %}" class="text-decoration-none">
        <div class="card text-white bg-primary shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Total Students</h5>
            <p class="card-text display-6">{{ total_students }}</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Total Fee Collected -->

        <div class="col-md-3">
      <a href="{% url 'finance:fee_payments' %}" class="text-decoration-none">
        <div class="card text-white bg-success shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Fee Collected</h5>
            <p class="card-text display-6">Ksh {{ total_fee_collected | floatformat:0 }}</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Total Fee Pending -->
         <div class="col-md-3">
      <a href="{% url 'finance:fee_payments' %}" class="text-decoration-none">
        <div class="card text-white bg-danger shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Fee Pending</h5>
            <p class="card-text display-6">Ksh {{ total_fee_pending | floatformat:0 }}</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Total Classes -->
    <div class="col-md-3">
      <a href="{% url 'academics:classroom_list' %}" class="text-decoration-none">
        <div class="card text-white bg-info shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Total Classes</h5>
            <p class="card-text display-6">{{ total_classes }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}

