<!-- templates/student/student_list.html -->
{% extends "./base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Student List</h2>
    <div class="row">
        {% for student in students %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow rounded-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="card-title mb-0">{{ student.user.first_name }}  {{student.user.last_name}}</h5>
                            <small class="text-muted">Admission No: {{ student.adm_no }}</small>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-1"><strong>Gender:</strong> {{ student.gender }}</p>
                    <p class="mb-1"><strong>Class:</strong> {{ student.class_name }}</p>
                    <p class="mb-1"><strong>Section:</strong> {{ student.section }}</p>
                
                </div>
            </div>
        </div>
        {% empty %}
        <p>No students found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <ul>
        {% for student in students %}
        <li>{{ student.user.first_name }}  -  - 
            Total Fees: {{ student.total_fees }} -
            Total Fees Paid: {{ student.total_fees_paid }} - Balance: {{ student.balance }} <a href="{% url 'students:edit_student' student.pk %}">Edit</a></li>
        {% empty %}
        <p>No students found.</p>

        {% endfor %}
    </ul>

    <P>Click <a href="{% url 'students:add_student' %}">here</a> to add new students.</P>

</body>
</html> -->