<!-- templates/student/student_list.html -->
{% extends "./base.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="mb-0">Students List</h2>
            <a href="{% url 'students:add_student' %}" class="btn btn-primary">
                <i class="bi bi-plus-circle me-1">Admit New Student</i> 
            </a>
    </div>
      <form method="get" class="mb-4">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search by name, admission number..."
             value="{{ request.GET.q }}">
      <button class="btn btn-outline-secondary" type="submit">
        <i class="bi bi-search"></i> Search
      </button>
    </div>
  </form>
        {% for student in students %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow rounded-3">
                <div class="card-body bg-light">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="card-title mb-0">{{ student.user.first_name }}  {{student.user.last_name}}</h5>
                            <small class="text-muted">Admission No: {{ student.adm_no }} Class: {{ student.grade }}    </small>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-1">Total Fee : {{ student.total_fees }}</p>
                    <p class="mb-1">Fee Paid : {{ student.total_fees_paid }}</p>
                    <p class="mb-1">Balance : {{ student.balance }}</p>
                    <a href="{% url 'students:edit_student' student.pk %}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No students found.</p>
        {% endfor %}
    </div>
</div>

  <!-- Pagination -->
  {% if is_paginated %}
  <nav class="mt-4">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
      {% endif %}
      
      {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% elif num > page_obj.number|add:-2 and num < page_obj.number|add:2 %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

{% endblock %}





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <ul>
        {% for student in students %}
        <li>{{ student.user.first_name }}  -  - 
            Total Fees: {{ student.total_fees }} -
            Total Fees Paid: {{ student.total_fees_paid }} - Balance: {{ student.balance }} <a href="{% url 'students:edit_student' student.pk %}">Edit</a></li>
        {% empty %}
        <p>No students found.</p>

        {% endfor %}
    </ul>

    <P>Click <a href="{% url 'students:add_student' %}">here</a> to add new students.</P>

</body>
</html> -->