<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <ul>
        {% for student in students %}
        <li>{{ student.user.first_name }} {{student.user.last_name}} - {{ student.adm_no }} - 
            Total Fees: {{ student.total_fees }} -
            Total Fees Paid: {{ student.total_fees_paid }} - Balance: {{ student.balance }} <a href="{% url 'students:edit_student' student.pk %}">Edit</a></li>
        {% empty %}
        <p>No students found.</p>

        {% endfor %}
    </ul>

    <P>Click <a href="{% url 'students:add_student' %}">here</a> to add new students.</P>

</body>
</html>