<!-- templates/student/student_list.html -->
{% extends "students/base.html" %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Teacher List</h2>
    <div class="row">
        {% for teacher in teachers %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card shadow rounded-3">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <h5 class="card-title mb-0">{{ teacher.user.first_name }}  {{teacher.user.last_name}}</h5>
                            <small class="text-muted">TSC No: {{ teacher.TSC }}</small>
                        </div>
                    </div>
                    <hr>
                    <p class="mb-1"><strong>Gender:</strong> {{ student.gender }}</p>
                    <p class="mb-1"><strong>Class:</strong> {{ student.class_name }}</p>
                    <p class="mb-1"><strong>Section:</strong> {{ student.section }}</p>
                
                </div>
            </div>
        </div>
        {% empty %}
        <p>No students found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}